<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% if title %}
    <title>Tuning App - {{ title }}</title>
    {% else %}
    <title>Tuning App</title>
    {% endif %}
    <link rel="icon" href="https://img.icons8.com/ios/50/000000/guitar-amp.png" type='image/x-icon'>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('home')}}">Tuning App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-item nav-link {{ 'active' if active_page == 'home' else '' }}" href="{{ url_for('home')}}">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link {{ 'active' if active_page == 'guitar' else '' }}" href="{{ url_for('guitar')}}">Guitar</a>
                <a class="nav-item nav-link {{ 'active' if active_page == 'bass' else '' }}" href="{{ url_for('bass')}}">Bass</a>
                <a class="nav-item nav-link {{ 'active' if active_page == 'drums' else '' }}" href="{{ url_for('drums')}}">Drums</a>
                <a class="nav-item nav-link {{ 'active' if active_page == 'shred' else '' }}" href="{{ url_for('shred')}}">My Shred List</a>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      My Account
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Login</a>
                      <a class="dropdown-item" href="#">Sign Up</a>
                      <a class="dropdown-item" href="#">Forgot Password</a>
                    </div>
                  </div>
                </div>
            </div>
            </nav>
    {% block content %}
    {% endblock content %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>